Source: casarest
Section: science
Priority: extra
Maintainer: KERN packaging <packaging@kernsuite.info>
Build-Depends:
 debhelper-compat (=13),
 cmake,
 casacore-dev,
 casacore-tools,
 casacore-data,
 libboost-dev,
 wcslib-dev,
 libcfitsio-dev,
 libboost-system-dev,
 libboost-thread-dev,
 gfortran,liblapack-dev,
 libblas-dev
Standards-Version: 4.7.2.0
Homepage: https://github.com/casacore/casarest/

Package: casarest
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: lwimage
Description: standalone radio interferometric imager derived from CASA 
 The program lwimager (part of synthesis) is the main deliverable.

